<div class="col-md-12 card-wrap padding-0" id="app-settings">
	<div class="col-md-6">
		<div class="panel box-v1">
			<div class="panel-heading bg-white border-none">
				<div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
					<h4 class="text-left">Публичный OpenSSL ключ</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right">
					<h4>
						<span class="fa fa-key text-right"></span>
					</h4>
				</div>
			</div>
			<div class="panel-body text-center">
				
				<form class="add-key" data-type="public" action="" method="post">
					<textarea name="key"></textarea>
					<button type="submit" class="btn btn-round btn-primary">Обновить</button>
				</form>
			
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel box-v1">
			<div class="panel-heading bg-white border-none">
				<div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
					<h4 class="text-left">Приватный OpenSSL ключ</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right">
					<h4>
						<span class="fa fa-lock text-right"></span>
					</h4>
				</div>
			</div>
			<div class="panel-body text-center">
				
				<form class="add-key" data-type="private" action="" method="post">
					<textarea name="key"></textarea>
					<button type="submit" class="btn btn-round btn-primary">Обновить</button>
				</form>
			
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div class="panel box-v4">
			<div class="panel-body">
				<div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
					<h2>Внимание!</h2>
					<p>
						Обновление ключей шифрования приведет к потере текущих подключений. Для восстановления доступа к базам
						данных необходимо будет заново их проинициализировать.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel box-v1">
			<div class="panel-heading bg-white border-none">
				<div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
					<h4 class="text-left">Добавить пользователя</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right">
					<h4>
						<span class="fa fa-user-plus text-right"></span>
					</h4>
				</div>
			</div>
			<div class="panel-body text-center">
				
				<form id="add-user" data-type="private" action="" method="post">
					<div class="form-group form-animate-text">
						<input type="email" name="email" class="form-text" required>
						<span class="bar"></span>
						<label>Email нового пользователя</label>
					</div>
					<div class="form-group form-animate-text">
						<select name="role" class="form-control" required>
							<option value="0" selected disabled>Статус</option>
							<option value="user">Пользователь</option>
							<option value="manager">Менеджер</option>
						</select>
					</div>
					<button type="submit" class="btn btn-round btn-primary">Добавить</button>
					<div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
						<p>
							Новому пользователю необходимо предварительно пройти регистрацию и подтвердить email.
						</p>
					</div>
				</form>
			
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel box-v1">
			<div class="panel-heading bg-white border-none">
				<div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
					<h4 class="text-left">Удалить пользователя</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right">
					<h4>
						<span class="fa fa-user-times text-right"></span>
					</h4>
				</div>
			</div>
			<div class="panel-body text-center">
				
				<form id="remove-user" data-type="private" action="" method="post">
					<div class="form-group form-animate-text">
						<input type="email" name="email" class="form-text" required>
						<span class="bar"></span>
						<label>Email пользователя</label>
					</div>
					<button type="submit" class="btn btn-round btn-danger">Удалить</button>
				</form>
			
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="https://russiabase.ru/wm/v0.3.0/manager/js/appManagement.js"></script>