<div class="col-md-12 card-wrap padding-0">
	<div class="col-md-6">
		<div class="panel box-v1">
			<div class="panel-heading bg-white border-none">
				<div class="col-md-6 col-sm-6 col-xs-10 text-left padding-0">
					<h4 class="text-left">Базы данных</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-2 text-right">
					<h4>
						<i class="fa fa-database"></i>
					</h4>
				</div>
			</div>
			<div class="panel-body text-center">
				<h1 id="index-db-count"></h1>
				<p>Подключено</p>
				<hr>
			</div>
		</div>
	</div>
	
	<div class="col-md-6" id="new-version-indicator" style="display: none;">
		<div class="panel box-v1">
			<div class="panel-heading bg-white border-none">
				<div class="col-md-6 col-sm-6 col-xs-10 text-left padding-0">
					<h4 class="text-left">Доступна новая версия</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-2 text-right">
					<h4>
						<i class="fa fa-code-fork"></i>
					</h4>
				</div>
			</div>
			<div class="panel-body text-center">
				<h1 id="new-version-indicator-version"></h1>
				<p id="new-version-indicator-text"></p>
				<hr>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	setTimeout(function(){
		$("#index-db-count").text($(".databases-list li").length);
	}, 500);
</script>